@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Sofia&display=swap');

.logo {
    color: #FDF1F1;
    font-size: 1vw;
    font-family: 'Sofia', cursive;
    font-weight: bold;

}


.nav-link{
    color: #FDF1F1;

}

.nav-item a:hover{
    color: #2c1a4d;

}

.dropdown-menu{
    border-width: 5;
    border-style: solid;
    border-color: #6f42c1;
    max-height: 200px;
    width:280px;
    overflow-y: scroll;
}

.dropdown-divider{
    background-color:#6f42c1;
}

.dropdown-menu a:hover{
    background-color:#8540f5;
    color:#FDF1F1
}

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}


.bg-light-color{
    background-color: #6f42c1;
}

h2{
    color: #9d6ff3;
    font-family: 'Sofia', cursive;
    margin-top: 1vw;
    margin-left: 25%;

}

/*Formulário*/
#wrapper{
  width:100%
}#page-wrapper{
  padding:0 0 60px;
  min-height:568px;
  background:#edf1f5
}
/*Carrossel*/

.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
/*Imagens no dropdown*/
.cart-img{display:inline-block;vertical-align:middle}.dropdown-cart .cart-img img{width:50px;margin:10px}
.dropdown-alerts li.divider,.dropdown-tasks li.divider{margin:0}
.list-style-none li.divider{margin:10px 0;height:1px;background:rgba(120,130,140,.13)}
cart-content{display:inline-block;vertical-align:middle}.dropdown-cart .cart-content h5{margin:0;font-weight:500;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

  @media (min-width: 923px) {
    .carousel{
        padding: 5px;
        width: 50%;
        margin-left: 25%;
        border: 5px solid #6f42c1;
        border-radius: 25px;

    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 calc(100%/4);
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  
  @media (max-width: 921px) {
    .card .img-wrapper {
      height: 17em;
    }
    .carousel{
        padding: 5px;
        border: 2px solid #6f42c1;
        border-radius: 15px;

    }
  }